<!--Footer-->
<footer id="footerLogin">
  <img src="../../../img/login/footer.png" alt="BILD" class="displayed"/>
  <p id="footerLoginNacht">
    edition 2016 dark night blue 1.0
  </p>
  <p class="footerLoginFlieder">
    CHECK! und CHECK! Lehrerzimmer sind Produkte des Raup &amp; Ritter Verlag und der OnWerk Softwareagentur Mannheim <br>
    <a href="http://www.raupundritter.com" target="_blank" class="footerLoginFlieder">www.raupundritter.com</a> - <a href="#" class="footerLoginFlieder">Kontakt</a> - <a href="#" class="footerLoginFlieder">Impressum</a> - <a href="#"  class="footerLoginFlieder">Preise</a> - <a href="#" class="footerLoginFlieder">Hilfe</a>
  </p>
</footer>
