#Popup {
  position: fixed;
  left: calc((100% - 300px) / 2);
  top: calc((100% - 200px) / 2);
  height: 200px;
  width: 300px;
  border-radius: 7px;
  z-index: 1;
  border: solid;
  border-color: white;

  background-color: #76b82d;
}

#closeButton {
  margin-top: 5px;
  margin-left: 262px;
}

#popupPicture {
  position: fixed;
  left: calc((100% - 70px) / 2);
  z-index: 2;
  bottom: 390px;
}

#popupText {

  position: fixed;
  height: 80px;
  width: 270px;
  bottom: 280px;
  left: calc((100% - 270px) / 2);
  font-size: 13pt;
  color: white;
  background-color: red;
}
