/*bestimmt Hintergrundfarbe der oberen Leiste*/
.navbar{
  background-color: #001a3a;
}

/* definiert Größe der Buttonleiste*/
#header{
  border-radius: 0px;
  height: 60px;
  padding-top:10px;
  background-image: url(/src/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px;
}

/*Ordnet den Buttons Bilder zu und bewirkt den Hover-Effekt*/
#chapter-overview{
  background-image: url(/src/img/chapterOverview-inactive.png);
}

#chapter-overview:hover{
  background-image: url(/src/img/chapterOverview-active.png);
}

#educational-plan{
  background-image: url(/src/img/educationalPlan-inactive.png);
}

#educational-plan:hover{
  background-image: url(/src/img/educationalPlan-active.png);
}

#achieved-competences{
  background-image: url(/src/img/achievedCompetences-inactive.png);
}

#achieved-competences:hover{
  background-image: url(/src/img/achievedCompetences-active.png);
}

#profile{
  background-image: url(/src/img/student/superhero-robin-inactive.png);
}

#profile:hover{
  background-image: url(/src/img/student/superhero-robin-active.png);
    filter: contrast(100%);
    filter: brightness(100%);
}

#school-profile{
  background-image: url(/src/img/school/school-inactive.png);
}

#school-profile:hover{
  background-image: url(/src/img/school/school-rose-active.png);
}

#study-group-profile{
  background-image: url(/src/img/studyGroup/studyGroup_2b_inactive.png);
}

#study-group-profile:hover{
  background-image: url(/src/img/studyGroup/studyGroup_2b_active.png);
}

#help{
  background-image: url(/src/img/help-inactive.png);
}

#help:hover{
  background-image: url(/src/img/help-active.png);
}

#logout{
  background-image: url(/src/img/logout-inactive.png);
}

#logout:hover{
  background-image: url(/src/img/logout-active.png);
}

#footer{
  height: 50px;
  color: #4565ad;
  padding: 0px;
}
