<app-header></app-header>

<div id="picturePosition" class="divCenter">
  <img src="../../images/change-password.png" height="70" width="70"/>
</div>

<p id="siteTitle" class="divCenter">PASSWORT ÄNDERN</p>

<table align="center">
  <colgroup>
    <col width="200">
    <col width="300">
    <col width="200">
  </colgroup>
  <tr>
    <td align="right" valign="middle" class="fontPassword">AKTUELLES PASSWORT*&nbsp;</td>
    <td align="center" valign="middle"><input type="password" class="passwordField field-border"></td>
    <td> </td>
  </tr>
  <tr>
    <td align="right" valign="middle" class="fontPassword">NEUES PASSWORT*&nbsp;</td>
    <td align="center" valign="middle"><input type="password" class="passwordField field-border"></td>
    <td> </td>
  </tr>
  <tr>
    <td align="right" valign="middle" class="fontPassword">PASSWORT BESTÄTIGUNG*&nbsp;</td>
    <td align="center" valign="middle"><input type="password" class="passwordField field-border"></td>
    <td> </td>
  </tr>

</table>

<div class="divCenter">
  <button type="submit" id="changeButton">ÄNDERN</button>
</div>

<app-footer></app-footer>
