<app-header></app-header>

<div id="pictureCurrentOld" class="divCenter" *ngIf="picTopOld">
  <img [src]="'../../..'+avatarPictures[currentPicture]?.avatarBigUrl" height="70" width="70" />
</div>

<div id="pictureCurrentNew" class="divCenter" *ngIf="picTopNew">
  <img [src]="'../../..'+pictureCurrentUrl" height="70" width="70" />
</div>

<p id="siteTitle" class="divCenter">PROFILBILD ÄNDERN</p>

<div class="divCenter">
  <button type="submit" class="cancelButton">ABBRECHEN</button>
  <button type="submit" class="saveButton">SPEICHERN</button>
</div>

<div align="center">
  <div id="pictureContainer">
    <img *ngFor="let avatar of avatarPictures, let i = index" [src]="'../../../'+avatar.avatarBigUrl" height="70px" width="70px"
         class="pictureRowMargin" (click)="changePictureCurrent('../../..'+avatar.avatarBigUrl, i)"/>
  </div>
</div>

<div class="divCenter">
  <button type="submit" class="cancelButton" [routerLink]="['/main']">ABBRECHEN</button>
  <button type="submit" class="saveButton" (click)="openModalSuc()">SPEICHERN</button>
</div>

<div *ngIf="showSuc" class="dialogSuc">
  <img src="../../images/confirmation.png" height="70" width="70" class="displayed"/>
  <p class="dialogText">Ihr Profilbild wurde erfolgreich geändert!</p>
  <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog_close-btn">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
</div>

<app-footer></app-footer>


