/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';

@font-face { font-family: "roboto-thin"; src: url(ttf/Roboto-Thin.ttf)}
@font-face { font-family: "widolte_regular"; src: url(ttf/Widolte_Regular.otf)}
@font-face { font-family: "letteromatic"; src: url(ttf/ltromatic.ttf);}
@font-face { font-family: "dr-hh-el"; src: url(ttf/dr-hh-el.ttf);}

body {
  margin: 0;
  background-color: white;
}

md-card {
  margin: 15px;
}
