.navbar{
  background-color: #001a3a;
}

.dropdown {
  z-index: 1;
    position: relative;
    display: inline-block;
}

/* definiert gesamtes Dropdown Menu */
.dropdown-content {
    display: none;
    position: fixed;
    right: 227px;
    background-color: white;
    min-width: 160px;
    border:solid white 2px;
    border-radius: 2px;
    width:250px;
}

/* definiert die unteren Dropdown-Menu Felder */
.dropdown-content a{
    text-align: left;
    font-size: 13pt;
    color: #4565ad;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #001a3a;
    margin: 2px 0px;
    border-radius: 2px;
}

/* definiert Dropdown-Header */
.dropdown-header {
    background-color: #001a3a;
    min-height: 125px;
}

/* passt Bild im Dropdown-Header an */
.dd-header-picture {
  height: 70px;
  width: 70px;
  margin-top: 7px;
  margin-left: -7px;
}

/* passt Text im Dropdown-Header an */
.dd-header-text-1 {
  text-align: left;
  font-size: 13pt;
  color: #4565ad;
  position: fixed;
  right: 20px;
}

.dd-header-text-2 {
  font-size: 13pt;
  color: white;
  font-family: roboto-thin;
}

/* bewirkt dass Dropdown-Menu erst beim Hovern sichtbar wird */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Effekt der beim Hovern über ein unteres Dropdown-Menu Feld eintritt*/
.dropdown-content a:hover {
  background-color: #8da6d6;
  color: white;
  text-decoration: none;
}

#header{
  border-radius: 0px;
  height: 60px;
  padding-top:10px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140px;
}

#chapter-overview{
  background-image: url(../img/chapterOverview-inactive.png);
}

#chapter-overview:hover{
  background-image: url(../img/chapterOverview-active.png);
}

#educational-plan{
  background-image: url(../img/educationalPlan-inactive.png);
}

#educational-plan:hover{
  background-image: url(../img/educationalPlan-active.png);
}

#achieved-competences{
  background-image: url(../img/achievedCompetences-inactive.png);
}

#achieved-competences:hover{
  background-image: url(../img/achievedCompetences-active.png);
}

#profile{
  background-image: url(../img/student/superhero-robin-active.png);
  filter: contrast(60%);
  filter: brightness(80%);
}

#profile:hover{
  background-image: url(../img/student/superhero-robin-active.png);
    filter: contrast(100%);
    filter: brightness(100%);
}

#school-profile{
  background-image: url(../img/school/school-inactive.png);
}

#school-profile:hover{
  background-image: url(../img/school/school-rose-active.png);
}

#study-group-profile{
  background-image: url(../img/studyGroup/studyGroup_2b_inactive.png);
}

#study-group-profile:hover{
  background-image: url(../img/studyGroup/studyGroup_2b_active.png);
}

#help{
  background-image: url(../img/help-inactive.png);
}

#help:hover{
  background-image: url(../img/help-active.png);
}

#logout{
  background-image: url(../img/logout-inactive.png);
}

#logout:hover{
  background-image: url(../img/logout-active.png);
}


#footer{
  height: 50px;
  color: #4565ad;
  padding: 0px;
}
