
.split{
  display: inline-block;
  height: 30px;
  width: 1px;
  margin:0px 3px -15px 3px;
  padding: 0px;
  border-left: solid #4565ad 1px;
}

.bubble{
  width:369px;
  height: 120px;
  background: url(../img/contentTextBubble.png) no-repeat top left;
  background-size: contain;
  margin: 5px;
}
.bubble-text{
  margin-top: 15px;
  font-size: 12px;
  max-width: 250px;
  height: 105px;
  text-align: left;
  word-wrap: break-word;
}
.bubble-img{
  padding: 15px;
  margin-right: 15px;
}

#content{
  position: fixed;
  width: 100%;
  background-color: #fff3d8;
  margin: 0px;
  padding: 5px;
  height: 100%;
}

#content-left{
  height: 100%;
  background-image: url(../img/illustrations/illustrationLeft.png);
  background-repeat: no-repeat;
}
#content-right{
  height: 100%;
  background-image: url(../img/illustrations/illustrationRight.png);
  background-repeat: no-repeat;
}

.nav-item{
  background-color: #353635;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 4px;
  margin: 2px 1px;
}

.show{
  background-color: #0F0;
}

.rotate{
  transform: rotate(360deg);
  transition: 2s;
}
