.split{
  display: inline-block;
  height: 30px;
  width: 1px;
  margin:0px 3px -15px 3px;
  padding: 0px;
  border-left: solid #4565ad 1px;
}

.bubble{
  background-image: url(../images/bubble.svg);
}

.content{
  margin-top: 40px;
  padding: 0px;
  height= calc(100%-10px);
  background-color: #658bc8;
}

.nav-item{
  background-color: #353635;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  padding: 4px;
  margin: 2px 1px;
}

.show{
  background-color: #0F0;
}

.rotate{
  transform: rotate(360deg);
  transition: 2s;
}
