<nav class="navbar navbar-fixed-top" id="header">
  <section class="container-fluid">
    <section class="row flex-items-xs-between">
      <section class="col-xs-2">
        <button type="button" class="nav-item" id="chapter-overview"></button>
        <button type="button" class="nav-item" id="educational-plan"></button>
        <button type="button" class="nav-item" id="achieved-competences"></button>
      </section>
      <section class="col-xs-3 pull-right text-right">
        <button type="button" class="nav-item" id="profile"></button>
        <button type="button" class="nav-item" id="school-profile"></button>
        <button type="button" class="nav-item" id="study-group-profile"></button>

        <div class="split">

        </div>

        <button type="button" class="nav-item" id="help"></button>
        <button type="button" class="nav-item" id="logout"></button>
      </section>
    </section>
  </section>
</nav>
<section class="content">
  <section>

  </section>
</section>
<section class="navbar navbar-fixed-bottom" id="footer">
  <section class="container-fluid text-center">
      <strong>CHECK!</strong><br>
      www.raupundritter.com
  </section>
</section>
