<nav class="navbar" id="header">
  <section class="container-fluid">
      <section class="row flex-items-xs-between">

        <!-- Buttons links -->
        <section class="col-xs-2">


            <!-- Button Kapitelübersicht + Dropdown-Menu -->
            <div class="dropdown">
              <button type="button" class="nav-item " id="chapter-overview"></button>
              <div class="dropdown-content-chapter-overview">
                <section class="dropdown-header">
                  <section class="row">
                    <img src="/img/confirmation.png" class="col-xs-5 dd-header-picture" />
                    <p class="col-xs-7 dd-header-text-1">
                      CHECK!</br>KOMPETENZLISTE
                    </p>
                  </section>
                </section>
                <a href="#" id="ch01">DAS BIN ICH!</a>
                <a href="#" id="ch02">ICH UND DIE ANDEREN</a>
                <a href="#" id="ch03">DIE WELT UM MICH HERUM</a>
                <a href="#" id="ch04">ICH WERDE SELBSTSTÄNDIG</a>
                <a href="#" id="ch05">SICH BEWEGEN</a>
                <a href="#" id="ch06">LERNEN</a>
                <a href="#" id="ch07">ARBEITEN</a>
                <a href="#" id="ch08">GESTALTEN UND ERSCHAFFEN</a>
                <a href="#" id="ch09">SPRECHEN</a>
                <a href="#" id="ch10">FREMDSPRACHE</a>
                <a href="#" id="ch11">LESEN</a>
                <a href="#" id="ch12">SCHREIBEN</a>
                <a href="#" id="ch13">MESSEN</a>
                <a href="#" id="ch14">LÖSUNGEN FINDEN</a>
                <a href="#" id="ch15">ZÄHLEN UND RECHNEN</a>
                <a href="#" id="ch16">FORM UND RAUM ENTDECKEN</a>
              </div>
            </div>

            <!-- Button Förderplan + Dropdown-Menu -->
            <div class="dropdown">
              <button type="button" class="nav-item " id="educational-plan"></button>
              <div class="dropdown-content-educational-plan">
                <section class="dropdown-header">
                  <section class="row">
                    <img src="/img/educationalPlan-big.png" class="col-xs-5 dd-header-picture" />
                    <p class="col-xs-7 dd-header-text-1">
                      FÖRDERPLAN</br>MATHE ZR BIS 10
                    </p>
                  </section>
                </section>
                <a href="#">MATHE ZR BIS 10</a>
                <a href="#">DEUTSCH SATZANFÄNGE</a>
                <a href="#">SACHKUNDE "DER WALD"</a>
              </div>
            </div>

            <!-- Button Das kann ich + Dropdown-Menu -->
            <div class="dropdown">
              <button type="button" class="nav-item " id="achieved-competences"></button>
              <div class="dropdown-content-achieved-competences">
                <section class="dropdown-header">
                  <section class="row">
                    <img src="/img/achievedCompetences-big.png" class="col-xs-5 dd-header-picture" />
                    <p class="col-xs-7 dd-header-text-1">
                      CHECK!</br>KOMPETENZLISTE
                    </p>
                  </section>
                </section>
                <a href="#" id="ch00">ALLE KOMPETENZEN</a>
                <a href="#" id="ch01">DAS BIN ICH!</a>
                <a href="#" id="ch02">ICH UND DIE ANDEREN</a>
                <a href="#" id="ch03">DIE WELT UM MICH HERUM</a>
                <a href="#" id="ch04">ICH WERDE SELBSTSTÄNDIG</a>
                <a href="#" id="ch05">SICH BEWEGEN</a>
                <a href="#" id="ch06">LERNEN</a>
                <a href="#" id="ch07">ARBEITEN</a>
                <a href="#" id="ch08">GESTALTEN UND ERSCHAFFEN</a>
                <a href="#" id="ch09">SPRECHEN</a>
                <a href="#" id="ch10">FREMDSPRACHE</a>
                <a href="#" id="ch11">LESEN</a>
                <a href="#" id="ch12">SCHREIBEN</a>
                <a href="#" id="ch13">MESSEN</a>
                <a href="#" id="ch14">LÖSUNGEN FINDEN</a>
                <a href="#" id="ch15">ZÄHLEN UND RECHNEN</a>
                <a href="#" id="ch16">FORM UND RAUM ENTDECKEN</a>
              </div>
            </div>
        </section>

          <!-- Buttons rechts 1 -->
        <section class="col-xs-3 float-xs-right text-xs-right">

            <!-- Button Profil + Dropdown-Menu -->
          <div class="dropdown">
            <button type="button" class="nav-item " id="profile"></button>
            <div class="dropdown-content-profile">
              <section class="dropdown-header">
                <section class="row">
                  <img src="/img/student/superhero-robin-big-active.png" class="col-xs-5 dd-header-picture" />
                  <p class="col-xs-7 dd-header-text-1">
                    Schüler<br/>Name
                  </p>
                </section>
                <section class="dd-header-text-2">
                20. September 2008
                </section>
              </section>
              <a href="#">MEIN PROFILBILD ÄNDERN</a>
              <a href="#">MEIN PASSWORT ÄNDERN</a>
              <a href="#">MEIN PROFIL LÖSCHEN</a>
            </div>
          </div>

          <!-- Button Schule + Dropdown-Menu -->
          <div class="dropdown">
            <button type="button" class="nav-item" id="school-profile"></button>
            <div class="dropdown-content-school-profile">
              <section class="dropdown-header">
                <section class="row">
                  <img src="/img/school/school-rose-big-active.png" class="col-xs-5 dd-header-picture" />
                  <p class="col-xs-7 dd-header-text-1">
                    ASTRID<br/>LINDGREN<br/>SCHULE
                  </p>
                </section>
                <section class="dd-header-text-2">
                  STRASSE NUMMER<br/>PLZ ORT<br/>LAND<br/>EMAIL<br/>TELEFON<br/>
                </section>
              </section>
            </div>
          </div>

          <!-- Button Klasse + Dropdown-Menu -->
          <div class="dropdown">
            <button type="button" class="nav-item" id="study-group-profile"></button>
            <div class="dropdown-content-study-group-profile">
              <section class="dropdown-header">
                <section class="row">
                  <img src="/img/studyGroup/studyGroup_2a_active-big.png" class="col-xs-5 dd-header-picture" />
                  <p class="col-xs-7 dd-header-text-1">
                    KLASSE<br/>2B
                  </p>
                </section>
                <section class="dd-header-text-2">
                  KLASSENLEHRER*IN<br/>Valerie Wildemann
                </section>
              </section>
            </div>
          </div>

          <!-- Trennung der rechten Buttons -->
          <div class="split">
          </div>

          <!-- Buttons rechts 2 -->
            <!-- Button Help + Dropdown-Menu -->
          <div class="dropdown">
            <button type="button" class="nav-item" id="help"></button>
            <div class="dropdown-content-help">
              <section class="dropdown-header">
                <section class="row">
                  <img src="/img/help-big.png" class="col-xs-5 dd-header-picture" />
                  <p class="col-xs-7 dd-header-text-1">
                    BRAUCHST<br/>DU HILFE?
                  </p>
                </section>
              </section>
              <a href="#">SO GEHT´S!</a>
              <a href="#">VIDEO-TUTORIALS</a>
              <a href="#">HÄUFIG GESTELLTE FRAGEN</a>
              <a href="#">KONTAKT</a>
            </div>
          </div>

            <!-- Button Logout + Dropdown-Menu -->
          <div class="dropdown-logout">
            <button type="button" class="nav-item" id="logout"></button>
            <div class="dropdown-content-logout">
              <section class="dropdown-header">
                <section class="row">
                  <img src="/img/logout-big.png" class="col-xs-5 dd-header-picture" />
                  <p class="col-xs-7 dd-header-text-1">
                    MÖCHTEST DU<br/>CHECK!<br/>VERLASSEN?
                  </p>
                </section>
              </section>
              <a href="#">JA</a>
              <a href="#">NEIN</a>
            </div>
          </div>

        </section>
      </section>
  </section>
</nav>


<section class="row" id="content">
  <section class="col-sm-4 hidden-md-down text-sm-center" id="content-left"></section>
  <section class="col-sm-4 text-xs-center">
    <section class="bubble" ng-repeat="testItem in testData">
      <section class="bubble-text col-xs-12">
        <p>
          {{testItem.text}}
        </p>
      </section>
      <img ng-src="{{testItem.img}}" alt="bild" class="bubble-img" />
    </section>
    <br />
    <br />
    <br />
    <br />
  </section>
  <section class="col-sm-4 hidden-md-down text-md-center" id="content-right"></section>
</section>
<section class="navbar navbar-fixed-bottom" id="footer">
  <section class="container-fluid text-xs-center">
      <strong>CHECK!</strong>
      <p>www.raupundritter.com</p>

  </section>
</section>
