
<!--Oberstes Bild, Header-->
<img src="img/login/header.png" alt="BILD" class="displayed"/>

<br>

<!--Eingabefeld Benutzername-->
<div id="divCenterLogin">
  <input style="color: grey" type="text" size="30" maxlength="30" placeholder="Benutzername" id="inputLogin" class="glowing-border">
</div>

<!--Eingabefeld Passwort-->
<div id="divCenterLogin">
  <input style="color: #001a3a font-family: roboto-thin" type="password" size="30" maxlength="30" placeholder="Passwort" id="inputLogin" class="glowing-border">
</div>


<!--Login Button-->
<div id="divCenterLogin">
    <button type="submit" class="buttonLogin"<a href="http://localhost:3000/#/" style="color: white">LOS!</a></button>
</div>

<br>

<!--Footer-->
<footer id="footerLogin">
  <img src="img/login/footer.png" alt="BILD" class="displayed"/>
    <p class="footerLoginNacht">
        edition 2016 dark night blue 1.0
      </p>
      <p class="footerLoginFlieder">
        CHECK! und CHECK! Lehrerzimmer sind Produkte des Raup &amp; Ritter Verlag und der OnWerk Softwareagentur Mannheim <br>
        <a href="#" class="footerLoginFlieder">www.raupundritter.com</a> - <a href="#" class="footerLoginFlieder">Kontakt</a> - <a href="#" class="footerLoginFlieder">Impressum</a> - <a href="#"  class="footerLoginFlieder">Preise</a> - <a href="#" class="footerLoginFlieder">Hilfe</a>
      </p>
</footer>
