
<img src="../../../images/login/header.png" height="247" width="559" class="displayed" id="bild"/><br>

<!--Eingabefeld Benutzername-->
<div id="divCenterLogin">
  <input type="text" placeholder="BENUTZERNAME" class="field-border inputLogin" id="LoginInputUser"><br>

  <input type="password" placeholder="PASSWORT" class="field-border inputLogin" id="LoginInputPassword"><br>

  <button type="submit" (click)="login()" class="buttonLogin" style="color: white" [routerLink]="['/main']">LOS!</button><br>

  <br>
  <br>
  <button (click)="showError = !showDialog" class="btn">showError</button> <br>

  <br>

  <button (click)="showSuccess = !showDialog" class="btn">showSuccess</button> <br>

  <br>

  <button (click)="showGear = !showDialog" class="btn">showGear</button> <br>


  <app-modal-error [(visible)]="showError"></app-modal-error>

  <app-modal-success [(visible)]="showSuccess"></app-modal-success>

  <app-modal-gear [(visible)]="showGear"></app-modal-gear>


</div>
