

<img src="../../img/login/header.png" height="247" width="559" class="displayed"/><br>

<!--Eingabefeld Benutzername-->
<div id="divCenterLogin">
  <input type="text" placeholder="BENUTZERNAME" class="field-border inputLogin" id="LoginInputUser"><br>

  <input type="password" placeholder="PASSWORT" class="field-border inputLogin" id="LoginInputPassword"><br>

  <button type="submit" class="buttonLogin" style="color: white">LOS!</button><br>

  <button [routerLink]="['/main']">Home</button>
</div>

<br>

<!--Footer-->
<footer id="footerLogin">
  <img src="../../img/login/footer.png" alt="BILD" class="displayed"/>
  <p id="footerLoginNacht">
    edition 2016 dark night blue 1.0
  </p>
  <p class="footerLoginFlieder">
    CHECK! und CHECK! Lehrerzimmer sind Produkte des Raup &amp; Ritter Verlag und der OnWerk Softwareagentur Mannheim <br>
    <a href="http://www.raupundritter.com" target="_blank" class="footerLoginFlieder">www.raupundritter.com</a> - <a href="#" class="footerLoginFlieder">Kontakt</a> - <a href="#" class="footerLoginFlieder">Impressum</a> - <a href="#"  class="footerLoginFlieder">Preise</a> - <a href="#" class="footerLoginFlieder">Hilfe</a>
  </p>
</footer>
