<section class="row" [style.background]="bodyDynamics.chapterColor" id="content">

  <section class="col-xs-4" id="illustrationLeft">
    <img [src]="bodyDynamics.chapterFlag">
    <img *ngFor="let illustration of siteIllustrations" [src]="'../../../'+illustration.illustrationLeft"
         class="illustration-left"/>
  </section>
  <div class="col-xs-4" align="center">
    <div class="bubble" *ngFor="let cont of bodyDynamics.ChapterBubbles">
      <section class="bubble-text col-xs-12">
        <p id="studentText">
          {{cont.studentText}}
        </p>
      </section>
      <p id="numberFont">
        {{cont.number}}
      </p>
    </div>
  </div>
  <section class="col-xs-4" id="illustrationRight">
    <img *ngFor="let illustration of siteIllustrations" [src]="'../../../'+illustration.illustrationRight"
         class="illustration-right"/>
  </section>
</section>

<input type="submit" [style.background-image]="'url('+bodyDynamics.buttonUp+')'" id="scrollButtonTop" onclick="scrollBy(0, -100)">
<input type="submit" [style.background-image]="'url('+bodyDynamics.buttonDown+')'" id="scrollButtonBottom" onclick="scrollBy(0, 100)">







